  <!DOCTYPE html>
  <html lang="en" class="js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Net Blog | {{ title }} </title>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer ></script>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/vendor.css">
    </head>
  <body id="top">    
    <div id="page" class="s-pagewrap ss-home">
            {% include "header.njk" %}        
            {{ content | safe }}
            {% include "footer.njk" %}
          </section>
        <script src="/plugins.js" defer ></script>
        <script src="/main.js" defer ></script>
        <script> if (window.netlifyIdentity) { 
            window.netlifyIdentity.on("init", user => { 
              if (!user) {
                window.netlifyIdentity.on("login", () => {
                  document.location.href = "./admin/"; 
                });
              } 
            });
          }
        </script>
        </body>
      </html>
